
<h2>アイディア編集</h2>
<%= form_with(model: @idea, remote: true) do |f| %>
  <div class="field">
    <p>
      <%= f.label :title, "タイトル", class: '' %><br>
      <%= f.text_field :title , class: '', required: true %><br>
    </p>
    <p>
      <%= f.label :content, "本文", class: '' %><br>
      <%= f.text_area :content, class: '', required: true %><br>
    </p>
  </div>

  <table>
    <thead>
      <tr>
        <th>メモ</th>
      </tr>
    </thead>
    <tbody class="table-sortable">
      <% @memos.each do |memo| %>
        <%= content_tag "tr", id: "memo-#{memo.id}", class: "item", data: { model_name: memo.class.name.underscore, update_url: memo_sort_path(memo)} do %>
          <td><%= memo.content %></td>
          <div id="memo-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
          <td><%= link_to 'メモ編集', edit_idea_memo_path(@idea, memo), remote: true, class: "btn btn-lg, btn-primary" %></td>
          <td><%= link_to "削除", memo_path(memo), method: :delete, class: '', data: { confirm: '削除しますか？' } %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <div class="links">
    <%= link_to_add_association (fa_icon "plus-circle"), f, :memos %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

