<%= nested_form_for(@idea) do |f| %>
  <h2>アイディア編集</h2>
  <div class="field">
    <p>
      <%= f.label :title, "タイトル", class: '' %><br>
      <%= f.text_field :title , class: '', required: true %><br>
    </p>
    <p>
      <%= f.label :content, "本文", class: '' %><br>
      <%= f.text_area :content, class: '', required: true %><br>
    </p>
  </div>
  <%= f.fields_for :memos do |memo_form| %>
    <%= memo_form.text_field :content %>
    <%= memo_form.hidden_field :user_id, value: current_user.id %>
    <%= memo_form.link_to_remove (fa_icon "remove") %>
  <% end %>
  <p><%= f.link_to_add (fa_icon "plus-circle"), :memos %></p>
  
  <div class="actions">
    <%= f.submit "送信" %>
  </div>

<% end %>