<h2>アイディア投稿</h2>
<%= form_with model: @idea do |f|  %>
  <div class="field">
    <p>
      <%= f.label :title, "タイトル", class: '' %><br>
      <%= f.text_field :title , class: '', required: true %><br>
    </p>
    <p>
      <%= f.label :content, "本文", class: '' %><br>
      <%= f.text_area :content, class: '', required: true %><br>
    </p>
  </div>
  <div class="memo_form">
    <table>
      <tr>
        <th>メモ</th>
      </tr>
      <%= f.nested_fields_for :memos, wrapper_tag: :tr do |memos| %>
        <td><%= memos.text_field   :content,     class: '' %></td>
            <%= memos.hidden_field :user_id, value: current_user.id %>
        <td><%= memos.remove_nested_fields_link (fa_icon "remove"), class: '', role: 'button' %></td>
      <% end %>
    </table>
    <%= f.add_nested_fields_link :memos, (fa_icon "plus-circle"), class: '', role: 'button' %>
  </div>
  <div class="btn"><%= f.submit "保存", name: "save", class: "save_btn" %></div>
<% end %>
