<h3>アイディア</h3>
<p><%= @idea.title %></p>
<p><%= @idea.content %></p>

<h3>アイディアメモ</h3>
<% @idea_memos.each do |memo| %>
  <p><%= memo.content %></p>
<% end %>

<%= form_with(model: [@idea, @idea_memo], local: true) do |f| %>
  <div>アイディアメモ追加</div>
      <%= f.label :content, "本文", class: '' %><br>
      <%= f.text_area :content, class: '', required: true %><br>
    <%= f.submit "送信" %>
<% end %>


