
<h2>アイディア詳細ページ</h2>
<div class="idea_list">
  <div class="idea_list_title"><%= link_to "#{@idea.title}", idea_path(@idea) %></div>
  <div class="idea_list_content"><%= @idea.content %></div>
  <%= link_to (fa_icon "edit"), edit_idea_path(@idea), remote: true, class: "btn btn-lg, btn-primary" %>
</div>
<table>
  <thead>
    <tr>
      <th>メモ</th>
    </tr>
  </thead>
  <tbody class="table-sortable">
    <% @memos.each do |memo| %>
      <%= content_tag "tr", id: "memo-#{memo.id}", class: "item", data: { model_name: memo.class.name.underscore, update_url: memo_sort_path(memo)} do %>
        <td><%= memo.content %></td>
        <div id="memo-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
      <% end %>
    <% end %>
  </tbody>
</table>



