<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%=form.collection_check_boxes :user_ids,User.where.not(id:current_user.id),:id,:email%>
    <%=form.fields_for :members do |sec|%>
      <%=sec.hidden_field :user_id,value:current_user.id%>
      <%=sec.hidden_field :admin,value:true%>
      <%=sec.hidden_field :activate,value:true%>
    <% end %>
  </div>
  <div class="field">

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
