<h1>会社管理画面</h1>
<%= link_to "この会社に招待する", new_user_company_invitation_path(@company.id) %>
<table>
  <tr>
    <td>ユーザー名　</td>
    <td>アイディア投稿数　</td>
    <td>公開アイディア数　</td>
    <td>コメント数　</td>
    <td>いいね数　</td>
    <td>最終利用日時　</td>
    <td>アイディア</td>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td>
        <%= link_to "/companies/#{@company.id}/users/#{user.id}", method: :delete, data: { confirm: 'メンバーから削除しますか？' } do %>
          <i class="fa fa-remove" aria-hidden="true"></i>
         <% end %>
        <%= link_to user.name, profile_path(user) %>
      </td>
      <td><%= idea_count(user) %></td>
      <td><%= open_idea_count(user) %></td>
      <td><%= user.comments.length %></td>
      <td><%= user.likes.length %></td>
      <td><%= last_login_at(user) %></td>
      <td><%= link_to "アイディアへ", company_user_path(@company, user) %></td>
    </tr>
  <% end %>
</table>

<div class="edit_field">
  <%= form_with model: @company do |f| %>
    <div class="field">
      <%= f.label "会社名" %><br>
      <%= f.text_field :name %><br>
    </div>
    <div class="actions">
      <%= f.submit "更新" %>
    </div>
  <% end %>
  <%= link_to "会社を削除する", company_path(@company), method: :delete, data: { confirm: '本当に削除しますか？' } %>
</div>