<%= form_with(model: @joingroups,url:joingroup_path, local: true) do |form| %>
  <% if @joingroups.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@joingroups.errors.count, "error") %> prohibited this @joingroups from being saved:</h2>

      <ul>
      <% @joingroups.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%=form.fields_for :members do |member|%>
      <%unless member.object.user.id != current_user.id%>
      <p><%=member.label :email ,member.object.user.email%></p>
      <%=member.check_box :activate %>
      <% end %>
    <% end %>
  </div>
  <div class="field">

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
