<div style="width:90%;max-width:800px;;margin:0 auto 0 auto;color:#fff;text-align:center;">

  <%# プラン新規作成 %>
  <% if @plan.id.nil? %>
    <%= form_with model: @plan, url: idea_plans_path, local: true do |f| %>
    
      <div class="form-group">
  
        <%= f.file_field :image, id:"file-sample" %><label for="file-sample" id="input-label"></label>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :idea_id, value: @idea.id %>


        <div style="text-align:left;">
        <% num = 0 %>
        <%= f.fields_for :plan_contents do |plan| %>
          <span>【確認事項】 <%= @plan_questions[num].title %></span><br>
          <span style="font-size:0.8em;"><%= @plan_questions[num].content %></span><br>
          <%= plan.text_area :content, rows:4, class:"form-control", style:"width:100%;" %><br>
          <%= plan.hidden_field :user_id, value: current_user.id %>
          <%= plan.hidden_field :plan_question_id, value: @plan_questions[num].id %>
          <% num+= 1 %>
        <% end %>
        </div>


        <%# <%= f.hidden_field :p_i_id, value:params[:p_i_id] %> %>
        <%= f.submit "更新する",class:"btn btn-info",style:"margin:5px" %><br>
      </div>
    <% end %>

  </div>

  <% else %>

    <%# 編集フォーム %>
    <%= form_with model: @plan, url: idea_plan_path(@idea, @plan), local: true do |f| %>
    
      <div class="form-group">
        <% if @plan.image? %>
          <%= image_tag @plan.image.url, class: "file-preview", style: "max-height:600px;max-width:100%;" %>
        <% else %>
          <p>noimage</p>
        <% end %>

        <%= f.file_field :image, id:"file-sample" %><label for="file-sample" id="input-label"></label>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :idea_id, value: @idea.id %>


        <div style="text-align:left;">
        <% num = 0 %>
        <%= f.fields_for :plan_contents do |plan| %>
          <span>【確認事項】 <%= @plan_questions[num].title %></span><br>
          <span style="font-size:0.8em;"><%= @plan_questions[num].content %></span><br>
          <%= plan.text_area :content, rows:4, class:"form-control", style:"width:100%;" %><br>
          <%= plan.hidden_field :user_id, value: current_user.id %>
          <%= plan.hidden_field :plan_question_id, value: @plan_questions[num].id %>
          <% num+= 1 %>
        <% end %>
        </div>


        <%# <%= f.hidden_field :p_i_id, value:params[:p_i_id] %> %>
        <%= f.submit "更新する",class:"btn btn-info",style:"margin:5px" %><br>
      </div>
    <% end %>

    

  <% end %>
</div>



<style>
.model-up input[type="file"] {
   display: none;
}

.model-up label::after{
   display: none;
}

.model-up label {
   background: #74b9ff;
   padding: 5px 10px;
   border-radius: 10px;
   display: inline-block;
   position: relative;
}
.model-up label::after {
   content: "選択されていません";
   font-size: 0.8em;
   position: absolute;
   right: -140px;
   top: calc(50% - 10px);
}
.model-up label.changed::after {
   content: "";
}
.model-up .filename {
   font-size: 0.8em;
}


</style>