<!DOCTYPE html>
<html>
  <head>
    <title>Pbot2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag    'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.23.2/vuedraggable.umd.min.js"></script>
  </head>

  <body>
  <%= render 'shared/shared_data' %>
    <header class="header">
      <li class="header_logo"><%= link_to image_tag("logo.svg"), root_path %></li>
      <li class="header_middle"></li>
        <div class="header_right">
          <% if user_signed_in? %>
            <span><i class="fa fa-user" aria-hidden="true"></i> <%= current_user.name %> </span>|
            <span><i class="fa fa-star" aria-hidden="true"></i>12</span>|
            <span><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout" %></span>
            <%if current_user.profile == nil%>
            <span><%=link_to"プロフィールを作成",edit_profile_path(current_user.id)%></span>
            <span><%=link_to "登録情報を変更",edit_user_registration_path%></span>
            <% else %>
            <span><%=link_to "登録情報を変更",edit_user_registration_path%></span>
            <span><%=link_to"プロフィールを編集",edit_profile_path(current_user.id)%></span>
            <% end %>
          <% else %>
            <div>
              <span><%= link_to "ログイン", new_user_session_path, class: 'login'%></span>
              <span><%= link_to "ユーザー登録", new_user_registration_path, class: 'login'%></span>
            </div>
          <% end %>
        </div>
    </header>
    <div class="container_field">
      <%= yield %>
    </div>
    <footer></footer>
  </body>
</html>
